section {
    padding: 50px;
    border: 1px solid black;
    margin-bottom: 20px;
}

i {
   font-size: 30px;
}

fieldset {
    display: grid;
    gap: 10;
    padding: 30px;
    margin-top: 20px 0px;
}